body{
    background-color: lightgreen;
}

#container{
    column-count: 2;
    column-gap: normal;
    column-fill: auto;
    column-width: 500px;
    position: relative;
    padding: 0;
    margin: 0;
}
#info{
    background-color: lightcoral;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 180px;
    height: 500px;
    float: right;
    text-align: center;
}
#stage{
    background-image: url(images/map.jpg);
    background-repeat: no-repeat;
    background-size: 600px;
    position: relative;
    height: 500px;
    width: auto;
    top: 0;
    left: 0;
}
#sprite{
    background-repeat: no-repeat;
    position: absolute;
    top: 210px;
    left: 200px;    
}
button{
    border-radius: 25px;
    margin: 5px;
    padding: 5px;
    font-weight: bold;
}
footer{
    background-color: bisque;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    position: absolute;
    bottom: auto;
    width: 100%;
}